asgiref==3.6.0
astroid==2.15.0
colorama==0.4.6
coverage==7.2.5
dill==0.3.6
dj-database-url==2.0.0
Django==4.2.1
django-picklefield==3.1
gunicorn==20.1.0
iniconfig==2.0.0
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
packaging==23.1
platformdirs==3.1.1
pluggy==1.0.0
psycopg2-binary==2.9.6
pylint==2.17.0
pytest==7.3.1
pytest-cov==4.0.0
pytest-django==4.5.2
six==1.16.0
sqlparse==0.4.3
tomlkit==0.11.6
typing_extensions==4.5.0
tzdata==2022.7
wrapt==1.15.0
