<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Unibank</title>
    <link rel="icon" type="image/x-icon" href="bank_logo.jpg">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style/index.css">
</head>

<body>
    <header>
        <h1>UNIBANK<span>.tul</span></h1>
        <div><button type="submit"><a href="">Registrer</a></button><button type="submit"><a href="">Log&nbsp;in</a></button></div>
        </main>
    </header>
    <main>
        <div>
            <h2>About us</h2>
            <p>
                Welcome to the best bank you have ever seen.<br> We offer all kind of money services that students might (not) need.<br> The most favourite is "Empty-loan" where you borrow 0 and pay us 100 rent every day!
            </p>
        </div>
        <div>
            <h2>Products</h2>
            <p>
                You can have what ever you want! We offer all kind of products and services starting from bank accounts through random payments to finantial support service.
            </p>
        </div>
        <div class="line">
            <div>
                <h2>regular bank account</h2>¨
                <p> typical product. You have your money<br> you can do payments<br> there is always bussy info call centrum
                </p>
            </div>
            <div>
                <h2>get broke account</h2>
                <p>Reprehenderit sint in officia dolore officia ullamco esse sit labore quis duis nostrud aute velit. <br>Sunt velit ipsum velit voluptate. Qui sunt nulla minim ad enim duis eiusmod est. <br>Labore reprehenderit adipisicing tempor velit occaecat<br>                    nostrud est commodo. Laboris laboris non quis excepteur anim officia. <br>Laboris Lorem culpa cupidatat incididunt laborum velit quis ad laboris fugiat ad et esse pariatur.</p>
            </div>
        </div>
    </main>
    <footer>
        <div>
            Unibank.tul<br> tel: 456 987 123<br> mail: unibank@tul.cz
        </div>
        <div>
            login<br> Registrer<br> about us<br>

        </div>
    </footer>
    <script src="" async defer></script>
</body>

</html>